<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/db_bus?useUnicode=true&amp;characterEncoding=UTF-8">
		</property>
		<property name="username" value="db_bus"></property>
		<property name="password" value="12345678"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>DAO/Site.hbm.xml</value>
				<value>DAO/Line.hbm.xml</value>
				<value>DAO/Bus.hbm.xml</value>
				<value>DAO/Relation.hbm.xml</value></list>
		</property></bean>
	<!-- 定义事务管理器 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="SiteDAO" class="DAO.SiteDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="LineDAO" class="DAO.LineDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BusDAO" class="DAO.BusDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RelationDAO" class="DAO.RelationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- relationService地址 -->
	<bean id="relationService" class="service.RelationService">
	<property name="relationDAO">
	<ref bean="RelationDAO" /></property>
	</bean>
	<!-- relationService地址 -->
	<bean id="publicService" class="service.PublicService">
	<property name="lineDAO">
	<ref bean="LineDAO" /></property>
	<property name="siteDAO">
	<ref bean="SiteDAO" /></property>
	<property name="relationDAO">
	<ref bean="RelationDAO" /></property>
	</bean>
</beans>